{% extends 'base.html' %}
{% load static %}


{% block content %}
<script>
    function goHref(){
        location.href="{% url 'modules_content' course_slug=course.slug %}"
    }
</script>
<style>
    ion-icon {
      font-size: 16px;
    }

    .nav-course-title {
      text-align: center;
      font-style: normal;
      font-family: 'Ubuntu', monospace;
      font-weight: 400;
      font-display: swap;
      font-size: 18px;
    }

    .nav-course-info {
      font-size: 16px;
      font-family: 'Ubuntu', monospace;
    }

    .nav-link {
      color: black;
    }

    .btn-start {
        height: 40px;
        width: 120px;
        margin: 5px 5px;
        background: #44bd32;
        font-weight: 400;
        border: none;
        color: #fff;
        border-radius: 30px;
        transition: 0.5s;
    }

    .btn-start:hover {
        background: #7f8fa6;
        color: black;
    }

    .content {
      font-style: normal;
      font-family: 'Ubuntu', monospace;
      font-size: 16px;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse py-3" style="height: 100vh;">
            <div class="position-sticky pt-3 sidebar-sticky my-5">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="nav-course-title mx-3 my-3">
                            <b>{{ course.title }}</b>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-course-info mx-3">
                            <p>Number of lessons: <b>{{ course.num_lessons }}</b></p>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-course-info mx-3">
                            <p>Language: <b>English</b></p>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-course-info mx-3">
                            <p>Rate: <b>4.5</b></p>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-btn" style="text-align: center;">
                             <button type="button" onclick="goHref()" class="btn-start">Start course</button>
                        </div>
                    </li>
                </ul>
                <hr>
                <ul class="nav flex-column mb-2 pb-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_details' course.slug %}">
                            <ion-icon name="information-circle-outline"></ion-icon>
                            Information
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <ion-icon name="chatbox-outline"></ion-icon>
                            Comments
                        </a>
                    </li>
                    <li class="nav-item mb-5">
                        <a class="nav-link" href="#">
                            <ion-icon name="bookmark-outline"></ion-icon>
                            Add to favourites
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content col-md-9 ms-sm-auto col-lg-10 px-md-4 py-mx-2 mt-5 bg-light">
            <div class="title mx-3 mb-3 mt-5">
                <h4><b>Information</b></h4>
            </div>
            <div class="panel-info py-2 mx-3">
                {{ course.description }}
            </div>
            <div class="accordion mt-3 mx-3 mb-3" id="modules" style="width: 75vw;">
                {% for module in modules %}
                    <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button data-bs-toggle="collapse" data-bs-target="#{{ module.id }}" class="accordion-button" type="button">{{ module.title }}</button>
                    </h2>
                    <div id="{{ module.id }}" class="accordion-collapse collapse">
                        <div class="accordion-body" style="font-size: 14px;">
                            <p>{{ module.description }}</p>
                            <p>Number of exercise: {{ module.nm_exercises }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
