@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

/* Body and navbar */

body {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(#44bd32, #7f8fa6);
}

.text-end button{
    height: 40px;
    width: 120px;
    left: -100%;
    margin: 5px 5px;
    display: inline;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 14px;
}

.btn-signup {
    background: #44bd32;
    font-weight: 400;
    border: none;
    color: #fff;
}

.btn-signup:hover {
    background: #7f8fa6;
    color: black;
}

/* banner */

.banner-content {
    width: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    top: 45%;
}

.banner-content h1 {
    color: #fff;
    font-size: 80px
}

.banner-content p {
    margin-left: 150px;
    margin-right: 150px;
    color: #fff;
    font-size: 20px
}

.banner-content button{
    height: 40px;
    width: 200px;
    left: -100%;
    background: #44bd32;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    transition: 0.5s;
    color: #fff;
    margin: 10px;
}

.banner-content button:hover {
    background: #7f8fa6;
    color: black;
}

/* cards */

.card {
    transition: all 0.5s;
    border: none;
}

.card h4{
    color:#192a56;
    font-size: 20px;
    font-weight: bold;
}

.card:hover {
    transform: scale(1.1);
}

.card button {
    background: #44bd32;
    font-weight: 400;
    border: none;
    color: #fff;
}

.card button:hover {
    background: #7f8fa6;
    color: black;
}


/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  color: #ffffff
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}


@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

footer {
    color: #f5f6fa;
}

hr {
    border-top: 2px solid
}