<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Adukar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <div class="banner">
        <img class="bg-image" src="{% static 'image/bg-image.jpg' %}" alt="bg-img">
        <div class="navbar">
            <img class="logo" src="{% static 'image/adukar.png' %}" alt="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Catalog</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <form class="search-box" role="search">
                <input type="search" placeholder="Search...">
                <a href="#">
                    <i class="uil uil-search"></i>
                </a>
            </form>
            <div class="text-end">
                <button type="button" class="btn-outline">Sign In</button>
                <button type="button" class="btn-warning">Sign Up</button>
            </div>
        </div>
        <div class="content">
            <h1>Вучыся на роднай мове</h1>
            <div>
                <button type="button">Даведайся болей</button>
            </div>
        </div>
    </div>
</body>
</html>